nav {
	background-color: orange;
	padding:20px;
	text-align: right;
}
/*nav logo section*/
nav img {
	position: absolute;
	top:15px;
	left:75px;
	height: 75px;
	width:160px;
}
/*nav list section*/
nav li {
	display: inline-block;
}
nav li a{
	text-decoration: none;
	color: white;
}
/*INLINE BLOCK SECTION*/
div.box {
	display: inline-block;
	width:45%;
}
div.box img{
	height: 450px;
}
	/*SEARCH BOX SECTION*/
div.topnav {
	position: absolute;
	right: 20px;
}
input {
	padding:17px;
	box-shadow: 5px 5px;
	color: gray;
	position: relative;
	top: -80px;
}
	/*INLINE-BLOCK SECTION WITH TEXT*/

p {
	color:orange;
	padding:100px 75px;
	width: 500px;
}
#TM{
	position: relative;
	top:-10px;
}
#web, #designs {
	color: lightblue;
}

	/*BUTTON SECTION*/
button {
	position:relative;
	left:200px;
	bottom:90px;
}
button:first-child{
	background-color:lightblue;
	padding: 10px 50px 10px 50px;
	margin-right: 10px;
	color: white;
	border-radius: 5px;

}
button:nth-child(2) {
	background-color: orange;
	color:white;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
}

	/*FOOTER SECTION*/
footer {
	background-color: lightblue;
	padding: 10px 0px 30px 0px;
}
footer i{
	position: relative;
	left: 600px;
	color: white;
	font-size: 30px;
	margin-left: 15px;
	margin-right: 15px;
}
footer li{
	display: inline-block;
}